<template>
    <div class="home">
      <img alt="Vue logo" src="../assets/logo.png">
      <h2>My name is {{ firstname }} {{ lastname }}</h2> 
      <h2>Age is {{ age }}</h2>
      <h2>User Active is {{ isActive }}</h2>
      <h2>There is a user called {{ userObject.name }}</h2>
      <h2>Frist number is {{ myArray[0] }}</h2>
    </div>
  </template>
  
  <script setup>
  import { ref,reactive } from "vue";
  
  const firstname = ref('Supakan');
  const lastname = ref('Pohntipo');
  const age = ref(18);
  const isActive = ref(true)
  const userObject = reactive({
    name:'Elon Musk',
    age:45,
  })
  const myArray = reactive([1,2,3,4,5,6,7,8,9])
  </script>
  