<template>
    <div>
        <h2>{{ count }}</h2>
        <button @click="countUp">Count Up</button>
        <button @click="countDown">Count Down</button>
        <button @click="countReset">Reset</button>
    </div>
</template>

<script>
import { ref } from 'vue';
export default{
    setup(){
        const count = ref(0)
        function countUp(){
            count.value = count.value + 1
        }
        return {countUp}
    }
}
</script>
